{% extends "base.html" %}
{% block content %}
<style>
    #text{
        display: grid;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    #userTable{
        width: 50vw;
        border-collapse: collapse;
        border: .5px solid #3284bf;
    }
    #userTable td 
    {
        text-align: center; 
        vertical-align: middle;
    }

</style>
<div id=text>
Thank you for activating {{name}}'s account!

{%endblock%}
    